################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dummy/obj/Debug
/Dummy/.vs/Dummy/v16
/Dummy/.vs/Dummy/config
